<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>Plants</title>
</head>
<body>
    <h1>Plant Store Home Page</h1>

    <a href="/products" class="href">Check out our plants!</a>
</body>
</html>