<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/ff0f48e880.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;700&family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/style.css">
    <title>Doom & Bloom</title>
</head>
<body>
    <main class="home-header">
        <div class="home-pg-title">
            <h1>Doom & Bloom</h1>
            <p>Brighten any gloomy day with the gift of plants!</p>
        </div>
    </main>
    <div class="home-plant-link">
        <i class="fas fa-skull right"></i><a href="/products" class="shop-link">Start shopping</a><i class="fas fa-skull left"></i>
        <a href="/users/new">Sign up</a>
        <a href="#">Log in</a>
    </div> 
</body>
</html>