<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Doom & Bloom</title>
</head>
<body>
    <h1>Shopping Cart</h1>
    
    <p><%= currentUser.username %>'s plants:</p>
    <% for (product of products) { %>
        <h3><%= product.name %></h3>
        <p>$<%= product.price %></p>
    <% } %>

    <a href="/products">Back</a>
</body>
</html>