<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;700&family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/style.css">
    <title>Doom & Bloom</title>
</head>
<body>
    <!--form to make a new product-->
    <header class="header">
        <div class="header-text">
            <h1>Sell your plants!</h1>
           
        </div>
    </header>
   <main class="form">
        <form action="/products" autocomplete="off" method="POST">
            <h2 class="title">Plant name:</h2>
            <input type="text" name="name"></input>
            <h2 class="title">Description:</h2>
            <input type="text" name="description"></input>
            <h2 class="title">Image link:</h2>
            <input type="text" name="img"></input>
            <h2 class="title">Price:</h2>
            <input type="text" name="price"></input>
            <h2 class="title">Quantity:</h2>
            <input type="text" name="qty"></input>
            <br>
            <input class="submit-btn" type="submit" value="Submit">
        </form>
    </main>
    <footer></footer>
</body>
</html>